@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
}

img {
  width: 600px;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  font-family: Roboto, sans-serif;
  color: black;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
  margin-bottom: 16px;
}

.header{
  display: flex;
  border: 2px solid blue; /* Add to visualise Flex items */
}

.footer {
background-color: #eeeeee;
display: flex;
border: 2px solid red; /* Add to visualise Flex items */
justify-content: space-between;
}

.left-links {
  display: flex;
  align-items: flex-start;
  border: 2px solid green; /* Add to visualise Flex items */
}

.right-links {
  display: flex;
  align-items: flex-end;
  border: 2px solid orange;/* Add to visualise Flex items */
}